.products {
  padding: 15px;
}

ion-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  img {
    height: 220px;
    object-fit: cover;
  }

  ion-card-title {
    font-weight: bold;
  }

  ion-card-subtitle {
    color: #ff6a88;
    font-size: 16px;
  }
}
