<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="products">
    <ion-card *ngFor="let p of productos">
      <img [src]="p.imagen" />
      <ion-card-header>
        <ion-card-title>{{ p.nombre }}</ion-card-title>
        <ion-card-subtitle>${{ p.precio }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="danger">
          Agregar al carrito
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
