<ion-header translucent>
  <ion-toolbar color="light">
    <ion-title>Tienda</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div class="store-hero">
    <h1>FLDivas Store</h1>
    <p>Moda que resalta tu poder 💃</p>
  </div>

  <div class="products">
    <ion-card class="product-card" *ngFor="let producto of productos">
      <img [src]="producto.imagen" [alt]="producto.nombre" />

      <ion-card-header>
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ producto.precio | currency:'USD' }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>{{ producto.descripcion }}</p>

        <ion-button expand="block" shape="round" (click)="verProducto(producto)">
          Comprar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
