<ion-header translucent>
  <ion-toolbar color="light">
    <ion-title class="title">FLDivas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- Banner -->
  <div class="hero">
    <h1>Moda que resalta tu esencia</h1>
    <p>Nueva colección 2026</p>
    <ion-button routerLink="/store" expand="block" color="dark">
      Ir a la tienda
    </ion-button>
  </div>

  <!-- Categorías -->
  <h2 class="section-title">Categorías destacadas</h2>

  <div class="categories">
    <div class="card" *ngFor="let cat of categorias">
      <img [src]="cat.imagen" />
      <div class="overlay">
        <h3>{{ cat.nombre }}</h3>
      </div>
    </div>
  </div>

</ion-content>

