<ion-header translucent>
  <ion-toolbar>
    <ion-title>FLDivas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- HERO -->
  <section class="hero">
    <div class="hero-content">
      <img src="assets/img/logo-fldivas.png" alt="FLDivas" class="logo" />

      <h1>
        Exprésate <span>con estilo</span>
      </h1>

      <p>
        Moda femenina pensada para mujeres seguras, auténticas y poderosas.
      </p>

      <ion-button shape="round" size="large" (click)="irStore()">
        Explorar tienda
      </ion-button>
    </div>
  </section>

  <!-- INFO -->
  <section class="highlights ion-padding">
    <div class="card">
      <ion-icon name="sparkles-outline"></ion-icon>
      <h3>Diseño exclusivo</h3>
      <p>Prendas únicas que elevan tu presencia.</p>
    </div>

    <div class="card">
      <ion-icon name="trending-up-outline"></ion-icon>
      <h3>Tendencia</h3>
      <p>Lo último en moda femenina.</p>
    </div>

    <div class="card">
      <ion-icon name="heart-outline"></ion-icon>
      <h3>Calidad premium</h3>
      <p>Comodidad y elegancia en cada detalle.</p>
    </div>
  </section>
</ion-content>
